body, html {
    background-image: url("https://i.imgur.com/b9r5sEL.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

kbd {
    display: block;
    font-size: 3rem;
}

.drumkit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.pad {
    text-align: center;
    color: white;
    padding: 1rem 0.5rem;
    width: 10rem;
    border: solid black 0.25rem;
    border-radius: 5px;
    transition:all 0.07s;
}

.playing {
    transform: scale(1.1);
    border-color: #5ae650;
    box-shadow: 0px 0px 10px #5ae650;
}

.sound {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5ae650;
}